@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-space-cadet: #102B53;
  --color-ucla-blue: #50698D;
  --color-pink-lavender: #CEB5D4;
  --color-cyan-azure: #4E7AB1;
  --color-air-superiority: #7D9FC0;
  
  --background: var(--color-space-cadet);
  --foreground: #F8FAFC;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
